.form{
    &__contenedor{
        background: $fondo-textos;
        border: 1px $main-border;
        border-radius: 2%;
    }
    &__titulo{
        background: linear-gradient(to right, orangered, orange);
        color: white;
        text-align: center;
        font: $tittle-font;
        overflow: hidden;
    }
    &__label{
        font: $main-font;
        /*font-family: 'M PLUS 1 Code', sans-serif;
        font-size: medium;
        font-weight: bold;*/
        color: #41464b;
        &__input {
            color: $main-color;
        }
    }
}
