.main{
    background-image: url(../assets/img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.divisores {
    background: linear-gradient(to right, orangered, orange, orangered);
    opacity: unset;
    margin: 0;
}