$main-font: bold 1rem'M PLUS 1 Code', sans-serif;
$tittle-font: 500 2rem'M PLUS 1 Code', sans-serif;
$main-color: orangered;
$fondo-textos: rgba(255, 255, 255, 0.384);
$main-border: solid orangered;
$box-shadow: 0 0 0 0.25rem rgba(68, 32, 19, 0.7);
