@-webkit-keyframes scale-down-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.5);transform:scale(.5)}}@keyframes scale-down-center{0%{-webkit-transform:scale(1);transform:scale(1)}100%{-webkit-transform:scale(.5);transform:scale(.5)}}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.divisores {
    background: linear-gradient(to right, orangered, orange, orangered);
    opacity: unset;
    margin: 0;
}

/*Contenedor Header*/
.header {
    background-image: url(../assets/img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__logo{
    background: transparent;
    border: orangered solid 2px;
    border-radius: 50%;   
}
.header__logo:hover{
    border: orangered solid 2px;
    border-radius: 50%;
    -webkit-animation:scale-down-center 3s cubic-bezier(.215,.61,.355,1.000) infinite alternate both;animation:scale-down-center 3s cubic-bezier(.215,.61,.355,1.000) infinite alternate both;
}
.header__link {
    text-decoration: none;
    color: rgb(255, 123, 0);
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}
.header__link:hover{
    color: orangered;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.header__link:focus{
    color: orangered;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.header__submenu{
    color: orangered;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}
.header__button{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    border: orangered solid 3px;
    
}
.header__button:focus{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    border: orangered solid 3px;
    box-shadow: 0 0 0 0.25rem rgba(255,69,0,0.70);
    padding: .25rem .75rem;
}
.header__form:focus{
    color: #212529;
    background-color: #fff;
    border-color: orangered;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255,69,0,0.45);
}
.header__search {
    color: orangered;
    border-color: orangered;
}
.header__search:hover {
    background: orangered;
    color: white;
}

/*Contenedor Main*/
.main{
    background-image: url(../assets/img/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Contenedor Hero*/
.main__hero {
    padding-block: 2rem;
    background-image: url(../assets/img/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    flex-wrap: wrap;
    /*align-items: space-between;*/
}
.hero__titulo{
    text-align: center;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #41464b;
}
.hero__button {
    background-color: transparent;
    border: solid 2px orangered;
    border-radius: 5%;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 500;
    color: orangered;
    padding: 1rem;
    margin-left: 4rem;
    margin-bottom: 1rem;
}
.hero__button:hover {
    background-color: orangered;
    border-color: rgb(255, 115, 0);
    color: #ffffff;
}
.hero__button:focus {
    background-color: orangered;
    border-color: rgb(255, 115, 0);
    box-shadow: 0 0 0 0.25rem rgb(255 188 0 / 76%);
    font-weight: 500;
    color: #ffffff;
}

/*Contenedor Complemento Main*/
.complementoMain{
    justify-content: center;
}
.complementoMain__contenedor--video {
    margin: 20px ;
    width: 30rem;
}
.complementoMain__video {
    width: 100%;
}
.complementoMain__contenedor--texto {
    background: rgba(255, 255, 255, 0.384);
}
.complementoMain__titulo {
    border-block: solid 2px black;
    margin-bottom: 2rem;
    font-family: 'M PLUS 1 Code', sans-serif;
    color: orangered;
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
}
.complementoMain__texto{
    color: #41464b;
    line-height: 1.8;
    font-weight: 500;
}
.footer {
    background-image: url(../assets/img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px 20px;
}
.footer__contenedor {
    flex-wrap: wrap;
}
.footer__ubicacion{
    width: 30rem;
    height: 18rem;
    border: 2px solid orangered;
}
.footer__mapa {
    width: 100%;
    height: 100%;
}
.footer__direccion {
    border: 1px solid orangered;
    border-radius: 7%;
    background: rgba(255, 255, 255, 0.384);
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #41464b;
    text-align: center;
}
.footer__direccion h3 {
    border-block: 1px solid;
    margin: revert;
    color: orangered;
}
.footer__redes {
    height: 18rem;
    flex-direction: column;
    justify-content: space-around;
}
.footer__titulo {
    background: linear-gradient(to right, orangered, orange);
    color: white;
    text-align: center;
    font-family: 'M PLUS 1 Code', sans-serif;
    font-weight: 400;
}
.footer__item {
    size: 4.5rem;
}
.footer__copy {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

@media screen and (max-width: 767px){
    .main__hero {
        background-image: url(../assets/img/hero.jpg);
        background-position: center;
        background-size: cover;
        flex-direction: column;
        align-items: center;
    }
    .hero__titulo{
        background-color: #e9ecef69;
        padding: 20px;
        text-align: center;
        width: 100%;
    }
    .hero__button{
        background-color: #e9ecefcc;
        margin-left: 0;
        padding: 0;
    }
}
@media screen and (min-width: 992px){
    .hero__button{
        margin-left: 7rem;
    }
    .main__hero{
        background-position: right;
        margin-right: 2rem;
    }
}
@media screen and (min-width: 1200px){
    .main__hero{
        margin-right: 0;
    }
}

/* seccion servicios*/

.main__titulo {
    text-align: center;
    border-block: 2px solid;
    padding: 20px 0;
    margin-bottom: 40px;
}
/*
.row{
    justify-content: space-evenly;
}
*/
.card {
    width: fit-content;
}

.serv__titulo {
    background: rgb(255,184,0);
background: linear-gradient(90deg, rgba(255,184,0,1) 0%, rgba(255,102,0,1) 28%, rgba(255,34,0,1) 100%);
}

.prod__titulo {
    background: rgb(255,81,0);
background: linear-gradient(90deg, rgba(255,81,0,1) 0%, rgba(255,102,0,1) 72%, rgba(255,184,0,1) 100%);
}


/* seccion preguntas*/
/*
.main__contenedor {
    height: 100%;
    height: 60rem;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
*/
.main__preguntas {
    display: flex;
    width: 50%;
    height: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.main__preguntas h3 {
    left: 20px;
}

.main__preguntas ul{
    list-style-type: none;
}

/* seccion aviso*/

.main__texto {
    background: rgb(255 255 255 / 60%);
    border-radius: 8%;
    border: 1px solid black;
    width: 60%;
    text-align: start;
    padding: 40px;
    line-height: 2;
}

.main__texto p {
    font-weight:  bold;
}

.main__texto ul{
    padding: 20px 0 20px 20px;
}

/* seccion form*/

.main__contacto {
    /*height: 26rem;*/
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.main__contenedor--contacto {
    display: flex;
    width: 50rem;
    height: 50%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
}

.main__contenedor--contacto div {
    width: 50%;
}

.main__forma {
    display: flex;
    border: solid 5px;
    background: white;
    width: 80%;
    height: 80%;
    margin: 10px 60px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

.main__forma legend {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.main__forma label, span {
    font-family: 'M PLUS 1 Code', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.main__input--data {
    display: flexbox;
}

.main__input--obs {
    padding: 10px;
}
.main__input--obs textarea {
    width: 100%;
}

