    // Seccion Main
    .main{
        @include fondo-main;
        background-color: #424141;
        &__servicios{
            @extend .main;
            
        }
        &__preguntas{
            @extend .main;
            
        }
        &__legales{
            @extend .main;
            
        }
        &__contacto{
            @extend .main;
            
        }
    }
    // Clases genericas
    .divisores {
        background: $titulo-fondo2;
        opacity: unset;
        margin: 0;
    }
    .bg-1{
        background-color: $main-color;
    }
    // Hero
    .hero {
        padding-block: 2rem;
        background-image: url(../assets/img/hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 1px;
      
        &__titulo{
            background-color: $titulo-fondo3;
            text-align: center;
            font: $tittle-font;
            color: $text-color;
            border: $main-border;
            border-radius: 8px;
            -webkit-box-shadow:7px 7px 8px 4px #ff7300;
            -moz-box-shadow:7px 7px 8px 4px #ff7300;
            box-shadow:7px 7px 8px 4px #ff7300;
        }
        &__button {
            @include button;
            -webkit-animation:shadow-inset-center 1s cubic-bezier(.25,.46,.45,.94) infinite alternate-reverse both;animation:shadow-inset-center 1s cubic-bezier(.25,.46,.45,.94) infinite alternate-reverse both;
            
            &:hover {
                background-color: rgba(236, 74, 10, 0.50);
                border-color: $secondary-color;
                color: $main-color;
                box-shadow: $box-shadow;
            }
            
            &:focus {
                background-color: $main-color;
                border-color: $secondary-color;
                box-shadow: $box-shadow;
                font-weight: 500;
                color: #ffffff;
            }
        }
    }

    // Complemento Main
    .complementoMain{
        justify-content: center;
        &__contenedor--video {
            margin: 20px ;
            width: 30rem;
        }
        &__video {
            width: 100%;
        }
        &__titulo {
            @include titulo ($main-color,$titulo-fondo3);
        }
        &__texto{
            background-color: $titulo-fondo3;
            color: $text-color;
            line-height: 1.8;
            border: $main-border;
            border-radius: 8px;
            padding: 5px;
        }
    }

    // Servicios
    .serv {
        &__titulo{
            background: $titulo-fondo2;
            color: white;
            text-align: center;
            font: $tittle-font;
        }
        &__button [data-bs-target]{
            background-color: $main-color;
        }
    }
    .carou-text{
        @include background-text($titulo-fondo1,0%,$text-color,center);
        background-color: rgba(255, 255, 255, 0.80);
        border: transparent;
    }
    .prod{
        &__titulo{
            background: $titulo-fondo2;
            color: white;
            text-align: center;
            font: $tittle-font;
        }
        &__img{
            border: $main-border;
        }
        &__text{
            border: $main-border;
        }
        &__precio{
            background: $titulo-fondo2;
            color: white;
            text-align: center;
            font: $main-font;
        }
        &__btn{
            @include button;
            margin-bottom: 0;

            &:hover {
                background-color: rgba(236, 74, 10, 0.50);
                border-color: $secondary-color;
                color: $main-color;
                box-shadow: $box-shadow;
            }
            
            &:focus {
                background-color: $main-color;
                border-color: $secondary-color;
                box-shadow: $box-shadow;
                font-weight: 500;
                color: #ffffff;
            }
        }
    }

        // Preguntas Frecuentes
    .preguntas{
        &__titulo{
            @include titulo ($main-color,$titulo-fondo3);
        }
        &__text{
            @include background-text($titulo-fondo1,0.99%,$text-color,left);
            background: rgba(248, 177, 78, 0.884);
            border: $main-border;
            border-radius: 8px;
        }
        & h3{
            margin: 2rem 0;
            text-decoration: underline;
        }
    }

    // Legales
    .legales{
        &__titulo{
            @include titulo ($main-color,$titulo-fondo3);
        }
        &__text{
            @include background-text($titulo-fondo1,0.5%,$text-color,left);
            background: rgba(248, 177, 78, 0.884);
            border: $main-border;
            border-radius: 8px;
        }
        & h3{
            margin: 2rem 0;
            text-decoration: underline;
        }
    }
    .accordion {
        &-header {
            background: rgba(248, 177, 78, 0.603);
            border: $main-border;
        }
        &-button {
            background-color: #ffffff;
            color: $main-color;
            &:focus{
                border-color: orangered;
                box-shadow: 0 0 0 0.25rem rgba(247, 115, 0, 0.25);
            }
            &:not(.collapsed){
                color: #ffffff;
                background-color: #ff73003b;
            }
        }
        &-body {
            background: rgba(248, 177, 78, 0.603);
            border: $main-border;
        }
    }
        
    // Contacto
    .form{
        &__contenedor{
            @include background-text($titulo-fondo1,0.5%,$text-color,left);
            background-color: rgba(255, 255, 255, 0.70);
        }
        &__titulo{
            background: $titulo-fondo2;
            color: white;
            text-align: center;
            font: $tittle-font;
            overflow: hidden;
        }
        &__label{
            font: $main-font;
            color: $text-color;
            &--input {
                color: $main-color;
            }
        }
        &__button{
            @include button;
            
            &:hover {
                background-color: rgba(236, 74, 10, 0.50);
                border-color: $secondary-color;
                color: $main-color;
                box-shadow: $box-shadow;
                -webkit-animation:shadow-inset-center 1s cubic-bezier(.25,.46,.45,.94) infinite alternate-reverse both;animation:shadow-inset-center 1s cubic-bezier(.25,.46,.45,.94) infinite alternate-reverse both;
            }

            &:focus {
                background-color: $main-color;
                border-color: $secondary-color;
                box-shadow: $box-shadow;
                font-weight: 500;
                color: #ffffff;
            }
        }
    }